# Micdoodle Core Access Transformer configuration file
# Fields
public net.minecraft.client.audio.MusicTicker rand
public net.minecraft.client.audio.MusicTicker mc
public net.minecraft.client.audio.MusicTicker currentMusic
public net.minecraft.client.audio.MusicTicker overlayMessage
public net.minecraft.client.gui.GuiIngame overlayMessage
public net.minecraft.client.gui.GuiScreen buttonList
public net.minecraft.client.gui.inventory.GuiContainer xSize
public net.minecraft.client.renderer.entity.RenderLivingBase mainModel
public net.minecraft.client.renderer.EntityRenderer cameraZoom
public net.minecraft.client.renderer.EntityRenderer cameraYaw
public net.minecraft.client.renderer.EntityRenderer cameraPitch
public net.minecraft.entity.EntityLivingBase attackingPlayer
public net.minecraft.entity.player.EntityPlayer sleeping
public net.minecraft.entity.player.EntityPlayer sleepTimer
public net.minecraft.inventory.InventoryCrafting eventHandler
public net.minecraft.network.EnumConnectionState directionMaps
public net.minecraft.network.EnumConnectionState STATES_BY_CLASS
public net.minecraft.network.NetHandlerPlayServer floatingTickCount
public net.minecraft.world.WorldProvider world
public net.minecraft.world.chunk.Chunk heightMapMinimum
public net.minecraft.world.chunk.Chunk precipitationHeightMap
public net.minecraft.world.chunk.Chunk heightMap
public net.minecraft.world.biome.Biome$BiomeProperties biomeName

# Methods
public net.minecraft.client.renderer.EntityRenderer orientCamera(F)V

public-f net.minecraft.world.biome.Biome getTemperature(Lnet/minecraft/util/math/BlockPos;)F
public-f net.minecraft.world.biome.Biome generateBiomeTerrain(Lnet/minecraft/world/World;Ljava/util/Random;Lnet/minecraft/world/chunk/ChunkPrimer;IID)V
public-f net.minecraft.world.biome.Biome getBaseHeight()F
public-f net.minecraft.world.biome.Biome getRainfall()F
public-f net.minecraft.world.biome.Biome getBiomeName()Ljava/lang/String;
public-f net.minecraft.world.biome.Biome getHeightVariation()F
public-f net.minecraft.world.biome.Biome getDefaultTemperature()F
public-f net.minecraft.world.biome.Biome getWaterColor()I
public-f net.minecraft.world.biome.Biome isSnowyBiome()Z