name: Build

on:
  push:
    branches:
      - main

jobs:
  Build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin

      - name: Build
        id: build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: checkLicenses build publish
        env:
          SNAPSHOT: true
          ORG_GRADLE_PROJECT_mavenUsername: ${{ secrets.NEXUS_USER }}
          ORG_GRADLE_PROJECT_mavenPassword: ${{ secrets.NEXUS_PASSWORD }}

#      - name: Copy GameTest Results
#        run: cp run/TEST-gametest.xml build/test-results/test/

      - name: Capture build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Galacticraft
          path: |
            build/libs/
            !build/libs/*-sources.jar
            !build/libs/*-dev.jar
