name: Pull Request Check
on:
  pull_request:
    types: [ synchronize, opened ]

jobs:
  build:
    strategy:
      matrix:
        java: [16]
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: java
      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
      - name: Make Gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: Build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: checkLicenses build
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
      - name: Perform CodeQL Analysis
        if: ${{ runner.os == 'Linux' && matrix.java == '16' }}
        uses: github/codeql-action/analyze@v1
