name: Pull Request Check

on:
  pull_request:
    types: [ synchronize, opened ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            .gradle
          key: ${{ runner.os }}-gradle-PR${{github.event.number}}-${{ hashFiles('gradle/gradle-wrapper.properties', 'settings.gradle.kts', '**/build.gradle.kts', '**/gradle.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ hashFiles('gradle/gradle-wrapper.properties', 'settings.gradle.kts', '**/build.gradle.kts', '**/gradle.properties') }}
            ${{ runner.os }}-gradle-PR${{github.event.number}}-
            ${{ runner.os }}-gradle-

      - name: Initialize build environment
        run: ./gradlew

      - name: Check license headers
        run: ./gradlew checkLicenses

      - name: Build
        id: build
        if: ${{ !cancelled() }}
        run: ./gradlew assemble testClasses -x checkLicenses

      - name: Test
        if: ${{ steps.build.outcome == 'success' && !cancelled() }}
        run: ./gradlew test -x checkLicenses
