name: Pull Request Check
on:
  pull_request:
    types: [ synchronize ]

jobs:
  build:
    strategy:
      matrix:
        java: [
            1.8, # Minimum
            11,  # LTS
            16,  # Latest
        ]
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repositoriy
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Make Gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: Build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: checkLicenses build
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true