name: Pull Request Check

on:
  pull_request:
    types: [ synchronize, opened ]

jobs:
  Build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Setup JDK 16
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: temurin

      - name: Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: checkLicenses build test runGametest
          gradle-version: current

      - name: Copy GameTest Results
        run: cp run/TEST-gametest.xml build/test-results/test/

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v2
        if: always()
        with:
          report_paths: "**/build/test-results/test/TEST-*.xml"
          token: ${{ secrets.GITHUB_TOKEN }}