name: Maven Publish

on:
  release:
    types: [ published ]

jobs:
  Publish:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Setup JDK 16
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: temurin

      - name: Publish
        uses: gradle/gradle-build-action@v2
        with:
          arguments: publish
        env:
          ORG_GRADLE_PROJECT_mavenUsername: ${{ secrets.MAVEN_USER }}
          ORG_GRADLE_PROJECT_mavenPassword: ${{ secrets.MAVEN_PASS }}
